# rust
/target/

# local configuration
config.toml
config.json

# generated binaries and debug files
*.exe
*.pdb
*.dat
*.log

# generated/reference data
/references/

# website
/website/dist/
/website/node_modules/